<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Burst" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">
	<config name="phpVersion" value="70400"/>
	<description>Burst MainWP Extension standards</description>

	<file>burst-mainwp.php</file>
	<file>class</file>

	<exclude-pattern>/.gitlab/*</exclude-pattern>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/languages/*</exclude-pattern>
	<exclude-pattern>*/index.php</exclude-pattern>
	<exclude-pattern>*.js</exclude-pattern>
	<exclude-pattern>*min.css</exclude-pattern>
	<exclude-pattern>*generated.css</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="parallel" value="8"/>

	<rule ref="WordPress-Extra">
	</rule>

	<rule ref="WordPress.DB.DirectDatabaseQuery">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.YodaConditions">
		<exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
	</rule>

	<rule ref="Squiz.Commenting.FileComment">
		<exclude name="Squiz.Commenting.FileComment.Missing"/>
	</rule>

	<rule ref="Squiz.Commenting.ClassComment">
		<exclude name="Squiz.Commenting.ClassComment.Missing"/>
	</rule>

	<rule ref="Squiz.Commenting.FunctionComment">
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamTag"/>
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment"/>
	</rule>

	<rule ref="Squiz.Commenting.VariableComment">
		<exclude name="Squiz.Commenting.VariableComment.Missing"/>
		<exclude name="Squiz.Commenting.VariableComment.MissingVar"/>
	</rule>

	<rule ref="Universal.Arrays.DisallowShortArraySyntax">
		<exclude name="Universal.Arrays.DisallowShortArraySyntax.Found"/>
	</rule>

	<rule ref="Universal.Operators.DisallowShortTernary">
		<exclude name="Universal.Operators.DisallowShortTernary.Found"/>
	</rule>

	<rule ref="WordPress-Docs"/>
	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<rule ref="WordPress.WhiteSpace.OperatorSpacing">
		<exclude-pattern>*.js</exclude-pattern>
	</rule>

	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibilityWP">
		<include-pattern>*\.php$</include-pattern>
	</rule>

	<config name="minimum_wp_version" value="6.2"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="burst-mainwp"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="burst"/>
			</property>
		</properties>
	</rule>
</ruleset>
